#noJs {
    display: none;
}

body {
    font-family: "Roboto Mono", 'Courier New', Courier, monospace;
    background-color: #363636;
    color: white;
}

header {
    text-align: center;
}

h1 {
    font-size: 2.5rem;
}

.mobileOnly {
    opacity: 0;
}

.playButton {
    width: 30rem;
    height: 30rem;
    aspect-ratio: 1/1;

    border: none;
    border-radius: 100%;

    background-color: white;
    color: #252525;

    margin: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.playArrow {
    flex: 1;

    display: block;

    cursor: pointer;
    user-select: none;

    height: fit-content;

    font-size: 15rem;
    text-align: center;

    margin: 0;
    padding: 0;
    padding-left: 2rem;
    padding-bottom: 1rem;
}

.pauseBars {
    flex: 1;
    
    display: none;

    cursor: pointer;
    user-select: none;

    height: fit-content;
    
    font-size: 15rem;
    font-weight: bolder;
    text-align: center;
    
    margin: 0;
    padding: 0;
    padding-left: 0.1rem;
    padding-bottom: 3rem;
}


.mainSectionWrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.aboutWrapper {
    flex: 1;
    padding-top: 2rem;
    padding-right: 2rem;
}

section {
    margin: 1rem 5rem 1rem 5rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.progressbarWrapper {
    display: flex;
    flex-flow: row nowrap;

    justify-content: center;
    align-content: center;
    text-align: center;
}

/* maybe in the future */
/* 
#progressbar {
    width: 20%;
    height: 1rem;
    background-color: rgb(140, 0, 0);
    color: rgb(140, 0, 0);
    border-color: #252525;
    border-width: 4px;
} */

#easterEgg {
    bottom: 0;
    font-size: 14px;
    color: rgba(150, 150, 150, 0.4);
}

audio {
    margin: .5rem;
}